<footer>
  <div class="d-flex justify-content-around mt-2 text-white bg-dark">
    <div class="mt-5">
      <p>2024 Bushido Silk and Still. Copyrights.</p>
    </div>
    <div>
    <h3>About</h3>
    <ul style="list-style-type:none;">
      <li>product</li>
      <li>resources</li>
      <li>term & conditions</li>
      <li>FAQ</li>
    </ul>
    </div>
    <div>
    <h3>Company</h3>
    <ul style="list-style-type:none;">
      <li>our team</li>
      <li>partner with us</li>
      <li>privacy & policy</li>
      <li>features</li>
    </ul>
    </div>
    <div>
    <h3>Contact</h3>
    <ul style="list-style-type:none;">
      <li>+123 456-7890</li>
      <li>Bushidos&s@support.com</li>
    </ul>
    </div>
  </div>
</footer>
