<div class="search-container">
  <%= form_with url: products_path, method: :get, class: "search-form" do |f| %>
    <input type="search" id="query" name="q" placeholder="Search a product" class="search-bar">
    <%= f.submit 'Search', class: 'btn-search'%>
  <% end %>
</div>
