<h1>My orders</h1>
<div>
<ul>
<% @checkouts.each do |checkout| %>
<div class="grid-container" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="grid-item"><p class="card-text"><li><%= checkout.product.item_name %></li></p></div>

  </div>
<%end%>
</ul>
<%= link_to "back", root_path %>
</div>
</div>
