<div class=container>
<div class="card-title text-center mt-5">
<h1 >My orders</h1>
<% @checkouts.each do |checkout| %>
<div class="grid-container" style="width: 18rem;">
  <% if checkout.product.photo.attached? %>
          <%= cl_image_tag checkout.product.photo.key, class: 'card-img-top mt-3' %>
        <% else %>
          <%= image_tag 'wear_tadayori.jpg', class: 'card-img-top mt-3' %>
        <% end %>
  <div class="grid-item"><p class="card-text"><li><%= checkout.product.item_name %></li></p></div>

  </div>
<%end%>
</div>
<div>


<%= link_to "back", root_path, class:"btn btn-flat"%>
</div>
</div>
