body {
  background-color: $pearl;
  color: $black;
}

.container-custom {
  padding-left: 4rem; /* Increase the padding as needed */
  padding-right: 4rem; /* Increase the padding as needed */
}

.card-title {
  margin: 0;
  color: $black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: $card-title;
}

.card-subtitle {
  font-family: $card-title;
}

.card-product {
  overflow: hidden;
  box-shadow: 0 0 15px #00000033;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  transition: transform .2s;
  background-color: $light-gray;
  color: $black;

  &:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
  }
}

.card-index-title {
  color: $black;
  font-size: 24px;
  font-weight: bold;

  &:hover {
    color: $red;
  }
}
