.navbar-lewagon {
  background: $black;
}

.navbar-collapse {
  display: flex !important;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-item {
  margin: 0 50px; /* Optional: Adds spacing between nav items */
}

.nav-link {
  color: $light-gray;
  font-size: 20px;

  &:hover {
    color: $red;
  }
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}
