.product-header {
  font-family: $card-title;
  font-size: 48px;
}

.product-text {
  font-family: $card-title;
  font-size: 20px;
}

.info-header {
  font-family: $card-title;
  font-size: 36px;
}

.view-more {
  color: blue; /* Change the color as needed */
  text-decoration: underline; /* Underline the link */
  font-weight: bold; /* Make the text bold */
}
