.product-container {
  margin-left: 64px;
  margin-right: 64px;
}

.product-subcontainer {
  margin-top: 64px;
  margin-bottom: 64px;

}

.product-subcontainer-checkout {
  margin-top: 64px;
  margin-bottom: 80px;

}


.product-header {
  font-family: $card-title;
  font-size: 36px;
}

.product-text {
  font-family: $card-title;
  font-size: 20px;
}

.info-header {
  font-family: $card-title;
  font-size: 36px;
}
