
<%= render "layouts/banner" %>

  <% @products.each do |product| %>
   <li> <%= link_to product.item_name, product_path(product)%> </li>
<% end %>
</ul>

<%= link_to "Do you have a product for sale", new_product_path, class: "btn btn-flat "%>


<%= link_to "my products", my_products_products_path, class: "btn btn-flat"%>
