<h1>This is the index</h1>
<h1>it is home 1.1 from figma i guess</h1>


<ul>
  <% @products.each do |product| %>
   <li> <%=product.item_name%> </li>
<% end %>
</ul>

<%= link_to "Do you have a product for sale", new_product_path, class: "btn btn-ghost btn-outline-primary "%>
