<div class="container">
  <div class="pt-4">
    <h1>My selling products</h1>
  </div>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-4 mb-3 mx-4" style="width: 24rem;">
      <div class="card-selling-product my-5">

        <% if product.photo.attached? %>
          <%= cl_image_tag product.photo.key, width: 120, height: 120, gravity: "auto" %>
        <% else %>
            <%= image_tag 'wear_tadayori.jpg'%>
        <% end %>

        <div class="card-product-infos">
          <h3><%= link_to product.item_name, product_path(product), class: "h3" %></h3>
          <p>¥<%= product.price %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
