<div class="container">

  <div class="pt-4 pb-1">
    <h1>Create your new product</h1>
  </div>

  <%= render "form", product: @product %>

  <div class="d-flex flex-row-reverse">
    <%= link_to 'Cancel', root_path, class: "btn btn-search-product mt-1 mb-5 " %>
  </div>
</div>
