<div class="container">

  <div class="pt-4 pb-1">
    <h1>Create your new product</h1>
  </div>

  <%= render "form", product: @product %>

  <%= link_to 'Back to home', root_path, class: "btn btn-search mt-3 mb-5" %>
</div>
