<div class="cyber-container">
  <h2 class="card-title text-center m-5"> Night City style & blades within reach! Coming soon... </h2>
  <div class="row row-cols-1 row-cols-md-3 g-3 m-5">
    <div class="col">
      <%= image_tag "cyber_1.jpg", class: "img-fluid" %>
    </div>
    <div class="col">
      <%= image_tag "cyber_2.jpg", class: "img-fluid" %>
    </div>
    <div class="col">
      <%= image_tag "cyber_3.jpg", class: "img-fluid" %>
    </div>
  </div>
</div>
